body {
	background-color: #d9dce0;
}

* {
	box-sizing: border-box;
}

/* Adding styling the the containers */
.spells-container, .statuses-container, .attacks-equipment-and-money-container,
.inventory-container, .combat-stats-container {
	border-style: solid;
	margin-bottom: 5px;
	background-color: white;
}

/*.spells-container, .statuses-container, .attacks-equipment-and-money-container,
.inventory-container, .combat-stats-container {
	height: 50vh;
};*/

h3 {
	text-align: center;
	font-size: 30px;
};


#stuff {
	margin: 10px;
}

/* Aligning the containers on the page */
.page-blocking-left, .page-blocking-center, .page-blocking-right{
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    width: 33%
}

/* Adding some spacing for the text in all the content sections */
.content {
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 10px;
}

.inventory-container {
	height: 105vh;
}

/* Aligning the content text */
.content-blocking-left, .content-blocking-right{
	display: inline-block;
    vertical-align: top;
    width: 40%;
}
.content div, .content button, .content input, .content label {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
}